/*Home: Intro*/
#intro{
	position: relative;
    height: 100vh;
    display: flex;

    align-items: center;
    justify-content: center;
	
    background: #753b86;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	
	text-align: center;
	text-shadow: 0 0 10px rgba(0,0,0,0.05);
    color: white;
}

#intro h1{
    margin-bottom: 50px;
}

#intro p{
    margin-bottom: 30px;
}


/*Home: info*/
#info{
	padding-top: 50px;
	padding-bottom: 50px;

    text-align: center;
    color: #222222;
}

.info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}

.info-showcase{
    align-items: center;
    width: 700px;
    margin-bottom: 40px;
    padding: 30px;

    color: white;
  
    border-radius: 25px;

	transition-duration: 0.5s;
}

.info-showcase:hover{
    transform: scale(1.025);
    transition: transform 0.2s linear;
}

#info-showcase-1{
    background-color: #3b5386;
}

#info-showcase-2{
    background-color: #753b86;
}

#info-showcase-3{
    background-color: #863b7c;
}

.info-showcase .flex-row{
    padding: 10px;
}

.info-showcase .flex-column{
    width: 80%;
}

.info-showcase ion-icon{
    height: 50px;
    width: 50px;
}

.info-showcase h3{
    margin-bottom: 15px;
    font-size: 20px;
}

.icon-container{
    width: 20%;
}

.icons-container{
    width: 40%;
    margin-top: 40px;
    justify-content: space-around;
}

.icons-container ion-icon{
    height: 40px;
    width: 40px;
    color: #222222;
    transition-duration: 0.5s;
}

.icons-container ion-icon:hover{
    opacity: 85%;
}

/*For mobile phones*/
@media screen and (max-width: 790px){
    .info-showcase{
     width: 75%;
    }
    .icons-container{
  	    width: 100%;
    }

    #intro h1{
        margin-bottom: 30px;
    }
    .align-center{
        top: 25vh;
    }
    
    .info-container .flex-row{
        flex-direction: column;
    }

    .info-container ion-icon{
        margin-bottom: 20px;
    }
}